.position-view {
    display: block;
}

.position-view .content {
    display: flex;
}

.position-view .position-grid {
    flex: 2;
}

.position-view .position-chart {
    flex: 1;
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .position-view.showing .position-grid {
        display: none;
    }
}